<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Look(up)</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>Book Look....up</h1>
      <hr>
    </header>

    <%# Inject the specific route template here %>
    <%= yield %>

  </body>
</html>
