<h1>Dashboard</h1>

<!--
Let's define some tags which will
be filled in with the results of
AJAX requests in JS
-->

<h2>System uptime:</h2>
<div id="uptime">
  <em>Loading...</em>
</div>

<h2>Biggest CPU Hog (Zoom, duh):</h2>
<div id="hog">
  <em>Loading...</em>
</div>
