
<h2>Welcome to the CalculatoRails</h2>

<form action="/calc/answer">

  <label>
    First number
    <input type="text" name="first">
  </label>
  <br>

  <label>
    Operator
    <input type="text" name="op">
  </label>
  <br>

  <label>
    Second number
    <input type="text" name="second">
  </label>
  <br>

  <button>Calculate!</button>


</form>
