

<h3>Add New Owner</h3>

<form action="/owners" method="post">

  <label>
    Name:
    <input type="text" name="name" value="">
  </label>
  <br>

  <label>
    Email:
    <input type="text" name="email" value="">
  </label>
  <br>

  <!-- Another way of creating a submit button -->
  <input type="submit" value="Add">

</form>
